* {
  padding: 0;
  margin: 0;
}

.full {
  padding: 20px 20px;
}

.header {
  background-color: rgb(41, 118, 190);
  height: 8vh;
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  justify-content: center;
}
